@import url('https://fonts.googleapis.com/css?family=Barlow:400,700|Montserrat|Open+Sans|Playfair+Display:400,700&display=swap');
/* The hero image */
.main-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("IMG_0337.JPG");
  
/* Set a specific height */
    height: 100%;
  
/* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    font-family: "Montserrat", san-serif;
    color: black;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: black !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
}
  
/* Add a color to the active/current link */
.navbar a.active {
    background-color: #ddd;
}

body, html {
    height: 100%;
    width:100%;
}

body {
    font-family: "Barlow", sans-serif;
    margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
  
}

.title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 50px;
}

.subtitle {
    margin-top: 15px;
    font-size: 18px;
}

.task {
  font-style: italic;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 16px;
}


/* Place text in the middle of the image */
.main-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    
}

p, ul {
  margin: 10px 40px;
  font-size: 16x;
}

img {
  margin: 10px 40px;
  width: 200px;
}

.fig {
  font-size: 14px;
  font-style: italic;
  margin-top: 0;
  padding: 0;
}

/*
 CSS for the main interaction
*/
.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
  }
  
  .accordion label {
    display: block;
  }
  
  /*
   Styling
  */
  .accordion {
    margin-bottom: 1em;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-top: 0;
  }
  
  .accordion .handle {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.2em;
  }
  
  .accordion label {
    color: #333;
    cursor: pointer;
    font-weight: normal;
    padding: 15px;
    background: #e8e8e8;
  }
  
  .accordion label:hover,
  .accordion label:focus {
    background: #d8d8d8;
  }
  
  .accordion .handle label:before {
    font-family: 'fontawesome';
    content: "\f054";
    display: inline-block;
    margin-right: 10px;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content: "\f078";
  }

